* {
    margin: 0;
    padding: 0;
}

/* Estilos gerais */
body {
    background-color: whitesmoke;
}

/* Menu */
#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    height: 130px;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

/* Logo no canto esquerdo */
#menu .logo {
    height: 120px;
    width: auto;
    transition: none; /* Remove a transição de hover do logo */
}

#menu ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    margin: 0;
    padding: 0;
    flex-grow: 1; 
    justify-content: center;
}

#menu ul li {
    margin: 0 15px; 
}

#menu ul .login {
    margin-left: auto; 
}

#menu a {
	padding: 15px 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    color: #fff;
}

#menu a:hover {
    text-decoration: none;
    border-bottom: 2px solid #fff;
    padding-bottom: 0;
}

.login-icon {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    padding: 6px 10px;
    margin-right: 50px;
}

#bt_menu {
    display: none;
}

label[for="bt_menu"] {
    display: none;
}

/*Seção do Mapa */
#tituloP{
    margin-top: 40px;
    text-align: center;
}

.map-section {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens flexíveis quebrem em várias linhas */
    text-align: center;
}

.info {
    margin-left: 10%;
    flex: 1 1 40%; /* Define que o item ocupa 40% da largura do container */
    padding: 20px;
    text-align: left;
}

.map-container {
    margin-right: 10%;
    flex: 1 1 50%; /* Define que o item ocupa 50% da largura do container */
    border: 5px solid #333;
    border-radius: 10px;
    margin-left: auto;
    max-width: 600px
}

.map-container iframe {
    border: none;
    width: 100%;
    height: 450px;
}

/*Footer*/
.footer-linha-container {
	background-color:#333;
	padding: 10px 0;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	background-color: #333;
	color: #fff;
	padding: 20px 25%;
}

.linkdir {
	margin-right: 70px;
}

.footer-links ul {
	list-style: none;
}

.footer-links li {
	margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #fff;
}

.footer-linha-container {
	background-color: #333;
	padding: 10px 0;
}

footer {
	text-align: center;
}

#divfooter {
	background-color: #333;
	padding: 20px 0;
	color: #333;
}

#divfim {
	background-color: #333;
	padding: 10px 0;
	color: #fff;
}

.social-icon {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

/* Efeito de hover nas redes sociais */
.social-icon:hover {
    color: #3b5998; 
}

.social-icon.twitter:hover {
    color: #1da1f2;
}

.social-icon.instagram:hover {
    color: #e4405f;
}

.social-icon.linkedin:hover {
    color: #0077b5;
}

.social-icon.youtube:hover {
    color: #ff0000;
}

#divfim p {
	margin: 0;
	color: #fff;
}

/*Responsividade*/
@media (max-width: 800px) {
	label[for="bt_menu"] {
		display: block;
	}

	#bt_menu:checked~#menu {
		margin: 0;
		height: auto;
		margin-bottom: 20px;
	}

	#menu {
		margin-left: -100%;
		transition: all 1s;
		height: 0;
	}

	#menu ul li {
		width: 100%;
		float: none;
	}

	#menu ul ul {
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all 4s;
	}

	#menu ul li:hover ul {
		height: auto;
		max-height: 200px;
	}

}