#professores {
  text-align: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.tituloP {
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.professor {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  text-align: left;
}

.professor:nth-child(even) .professor-img {
  margin-left: 20px;
  order: 2;
}

.professor-img {
  width: 40%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.descricao {
  max-width: 60%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.descricao h3 {
  font-size: 1.5em;
  margin: 10px 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.descricao p {
  margin-top: 25px;
  font-size: 1em;
  color: #555;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
}

#professores .professor-instagram {
  color: #333;
}

#professores .professor-instagram:hover {
  color: #E4405F;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
.professor {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.professor h3 {
  margin-bottom: 10px;
}

.professor-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.descricao {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.descricao h3 {
  margin-bottom: 10px;
}

}