/* Estilos para a seção Nossos Professores */
.professors-section {
    background-color: #f4f4f4;
    padding: 40px 0;
  }
  
  .professor-card {
    text-align: center;
  }
  
  .professor-card img {
    max-width: 100%;
    border-radius: 50%;
  }

  /*Seção Login */
  .section_login {
    padding: 50px 0;
  }
  
  .div_login {
    background-color: #343a40;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  .formulario_login {
    max-width: 400px;
    margin: auto;
  }
  
  .formulario_login label {
    color: white;
  }
  
  .formulario_login input[type="email"],
  .formulario_login input[type="password"] {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
  }
  
  .formulario_login input[type="submit"] {
    background-color: #dc3545;
    border: none;
    color: #ffffff;
    transition: background-color 0.3s;
  }
  
  .formulario_login input[type="submit"]:hover {
    background-color: #c82333;
  }
  
  .recuperar_login {
    color: white;
  }
  
  .recuperar_login:hover {
    color: #6c757d;
  }

  /* Estilos para a seção Cadstro */
  .section_cadastro {
    padding: 50px 0;
    background-color: #f8f9fa;
  }

  .div_cadastro {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
  }

  .div_cadastro label {
    color: #343a40; 
  }

  .input_form_cadastro {
    margin-bottom: 20px;
  }

  .div_termos {
    margin-bottom: 20px;
  }

  .div_botoes_form {
    text-align: center;
  }

  .botao {
    margin-right: 10px;
  }

  /* Estilo botoes login */
  .espacamento_form {
    margin-bottom: 10px;
}

  .div_botao_form {
    margin-top: 20px;
}

  /* Estilos para os botões */
  .botao {
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .botao:hover {
    filter: brightness(85%)
  }
  
  /* Estilos para a seção Modos de Treino */
  .training-section {
    background-color: #e9e9e9;
    padding: 40px 0;
  }
  
  .training-mode {
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Estilos para a seção Valor da Academia */
  .pricing-section {
    background-color: #dcdcdc;
    padding: 40px 0;
  }
  
  /* Estilizando os botões */
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  .map-section {
    margin: 0 auto;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;    
    padding: 0;
    position: relative;
    overflow: hidden;
  }
  /* Icones do Footer */
  .social-icon i {
    font-size: 24px;
    margin-right: 10px;
  }
  footer {
    bottom: 0;
    width: 100%;
    background-color: #343a40;
  }

/* Estilos para as seções personalizadas */
.professors-section,
.training-section,
.pricing-section {
  background-color: #343a40;
  color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

/* Estilize os títulos das seções */
.professors-section h2,
.training-section h2,
.pricing-section h2 {
  color: #dc3545;
}

/* Estilize o texto dentro das seções */
.professors-section p,
.training-section p,
.pricing-section p {
  font-size: 18px;
}